#secondary {
    background-color: rgb(75, 102, 240);
    color: white;
    text-align: center;
    font: bold;
    padding: 20px;
    border-radius: 10px;
    border-style: none;

    width: 18%;
}

#secondary:hover {
    background-color: rgb(75, 90, 240);
    cursor: pointer;
}