.secondary {
    background-color: rgb(75, 102, 240);
    color: white;
    text-align: center;
    font: bold;
    font-size: large;
    padding: 18px;
    border-radius: 10px;
    border-style: none;
}

.secondary:hover {
    background-color: rgb(75, 90, 240);
    cursor: pointer;
}